<p id="notice"><%= notice %></p>

<h1>Colors Museum</h1>
<br>
<br>
<br>



    <% @colors.each do |color| %>
      <%= link_to color do %>
        <%= image_tag color.image, class: "rounded-circle", style: "max-width : 15%; border: 2px solid #DBDCDE;"  %>
      <% end %>
    <% end %>

<br>

